/* слайдер */
.wrapper{
   
    margin-top: 96px;
}
.slider-continer{
    overflow: hidden;
    /* background-color: pink; */
}
.mainPicture{
    display: flex;
    /* background-color: yellow; */
    transition: .2s;
}
.slider-item{
    height: 400px;
    
}

/* .slider-item:nth-child(3n+1){background-color: red;}/* Выбирает каждый четвёртый элемент
среди любой группы соседних элементов */
/* .slider-item:nth-child(3n+2){background-color: green;}
.slider-item:nth-child(3n+3){background-color: blue;} */ 

.slider-buttons {
   
    
    
    /*text-align: justify;*/
}

.slider-buttons button{
   
    color: green;
    background: #fff;
     border: 1px solid #eaf1eb;;
     border-radius: 50%;
}

.wrapper .slider-buttons {
    border-radius: 50%;
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}

.btn-next {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .btn-next:after {
    position: absolute;
    top: 8px;;
    left: 6px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-left: 5px solid green;
    border-bottom: 5px solid green;
    border-radius: 3px;
    transform: rotate(230deg);
  }


  .btn-prev {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .btn-prev:after {
    position: absolute;
    top: 8px;;
    left: 11px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-left: 5px solid green;
    border-bottom: 5px solid green;
    border-radius: 3px;
    transform: rotate(45deg);
  }